{% extends 'base.html.twig' %}

{% block title %}Junior-mais-pas-manchot{% endblock %}

{% block body %}
    <div class="row my-3 mx-2">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h3>create</h3>
                </div>
                <div class="card-body">
                    <img src="{{ asset('pictures/dashboard/create.jpg') }}" class="w-50" alt="">
                    <div class="card-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, vero.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('admin_create') }}" class="btn btn-success">Enter</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Read & Update</h3>
                </div>
                <div class="card-body">
                    <img src="{{ asset('pictures/dashboard/update.jpg') }}" class="w-50" alt="">
                    <div class="card-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, dolorum!</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('is_up_to_date') }}" class="btn btn-success">Enter</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Delete</h3>
                </div>
                <div class="card-body">
                    <img src="pictures/dashboard/delete.webp" class="w-50" alt="">
                    <div class="card-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, dolorum!</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('admin_delete') }}" class="btn btn-success">Enter</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
